/* LOGO - position of the picture */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* SLOGAN - position and colour change */  
.slogan {
    text-align: center;
    color: hsl(30 100% 70% / 0.6);
    margin-top: -10px;
  }

.header{}

.h2{}